@import "tailwindcss";

@source "../**/*.blade.php";
@source "../**/*.js";

@theme {
  --color-primary: #008f45;
  --color-background-light: #f5f8f7;
  --color-background-dark: #0f2319;
  --font-display: "Inter", sans-serif;
}

/* Base styles for the material icons */
@layer base {
  .material-symbols-outlined { 
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24; 
  }
}